<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title>齐天大圣美猴王孙悟空</title>
<link rel="stylesheet" href="/static/main.css">
<link rel="stylesheet" href="/static/index.css">
<script src="/static/jquery.js"></script>
<script src="/static/index.js"></script>
</head>

<body>
    <div id="scrollBody" class="body">
        <div id="index" class="section">
            <img src="" width="100%" class="bgimg" />
            <div class="frame"></div>
            <div class="houwang">
            	<h1>猴 王 出 世</h1>
            	<p>孙悟空出生于东胜神洲傲来国花果山。感盘古开辟，三皇治世，五帝定伦，海外有一国土，名曰傲来国。国近大海，海中有一座山，唤为花果山。此山乃十洲之祖脉，三岛之来龙，自开清浊而立，鸿蒙判后而成。那座山正当顶上，有一块仙石。其石有三丈六尺五寸高，有二丈四尺围圆。三丈六尺五寸高，按周天三百六十五度；二丈四尺围圆，按政历二十四气。上有九窍八孔，按九宫八卦......</p>
            	<img width="360px" src="static/wk2.jpg"/>
            </div>
        </div>
        <div id="dalu" class="section">
            <img src="" width="100%" class="bgimg" />
            <div class="frame"></div>
            <div class="houwang">
            	<h1>拜 师 学 艺</h1>
            	<p>孙悟空出生于东胜神洲傲来国花果山。感盘古开辟，三皇治世，五帝定伦，海外有一国土，名曰傲来国。国近大海，海中有一座山，唤为花果山。此山乃十洲之祖脉，三岛之来龙，自开清浊而立，鸿蒙判后而成。那座山正当顶上，有一块仙石。其石有三丈六尺五寸高，有二丈四尺围圆。三丈六尺五寸高，按周天三百六十五度；二丈四尺围圆，按政历二十四气。上有九窍八孔，按九宫八卦......</p>
            	<img width="360px" src="static/wk2.jpg"/>
            </div>
        </div>
        <div id="taiwan" class="section">
            <img src="" width="100%" class="bgimg" />
            <div class="frame"></div>
            <div class="houwang">
            	<h1>大 闹 天 宫</h1>
            	<p>孙悟空出生于东胜神洲傲来国花果山。感盘古开辟，三皇治世，五帝定伦，海外有一国土，名曰傲来国。国近大海，海中有一座山，唤为花果山。此山乃十洲之祖脉，三岛之来龙，自开清浊而立，鸿蒙判后而成。那座山正当顶上，有一块仙石。其石有三丈六尺五寸高，有二丈四尺围圆。三丈六尺五寸高，按周天三百六十五度；二丈四尺围圆，按政历二十四气。上有九窍八孔，按九宫八卦......</p>
            	<img width="360px" src="static/wk2.jpg"/>
            </div>
        </div>
        <div id="qita" class="section">
            <img src="" width="100%" class="bgimg" />
            <div class="frame"></div>
            <div class="houwang">
            	<h1>西 天 取 经</h1>
            	<p>孙悟空出生于东胜神洲傲来国花果山。感盘古开辟，三皇治世，五帝定伦，海外有一国土，名曰傲来国。国近大海，海中有一座山，唤为花果山。此山乃十洲之祖脉，三岛之来龙，自开清浊而立，鸿蒙判后而成。那座山正当顶上，有一块仙石。其石有三丈六尺五寸高，有二丈四尺围圆。三丈六尺五寸高，按周天三百六十五度；二丈四尺围圆，按政历二十四气。上有九窍八孔，按九宫八卦......</p>
            	<img width="360px" src="static/wk2.jpg"/>
            </div>
        </div>
    </div>
    <div class="footer">
        <ul id="mainnav">
            <li class="nav_index"><a href="#index" class="cur">猴王出世</a></li>
            <li class="nav_dalu"><a href="#dalu">拜师学艺</a></li>
            <li class="nav_taiwan"><a href="#taiwan">大闹天宫</a></li>
            <li class="nav_qita"><a href="#qita">西天取经</a></li>
        </ul>
    </div>
</body>
</html>