<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title>齐天大圣美猴王孙悟空</title>
<link rel="stylesheet" href="/static/main.css">
<link rel="stylesheet" href="/static/index.css">
<script src="/static/jquery.js"></script>
<script src="/static/index.js"></script>
</head>

<body>
    <div id="scrollBody" class="body">
        <div id="qtds" class="section">
            <div class="happy">
                <h1>齐 天 大 圣</h1>
                <img id="ds" src="static/qtds.jpg"/>
            </div>
        </div>
        <div id="hwcs" class="section">
            <div class="houwang">
            	<h1>猴 王 出 世</h1>
            	<p>孙悟空出生于公元前四百多年，东胜神洲傲来国花果山。<br><br>感盘古开辟，三皇治世，五帝定伦，海外有一国土，名曰傲来国。国近大海，海中有一座山，唤为花果山。此山乃十洲之祖脉，三岛之来龙，自开清浊而立，鸿蒙判后而成。那座山正当顶上，有一块仙石。其石有三丈六尺五寸高，有二丈四尺围圆。三丈六尺五寸高，按周天三百六十五度；二丈四尺围圆，按政历二十四气。上有九窍八孔，按九宫八卦......</p>
            	<img width="360px" src="static/wk2.jpg"/>
            </div>
        </div>
        <div id="bsxy" class="section">
            <div class="houwang">
            	<h1>拜 师 学 艺</h1>
            	<p>为了寻求长生不老的方法，孙悟空飘洋两重大海，一座南赡部洲，十数个年头，方才访到西牛贺洲,灵台方寸山、斜月三星洞，拜菩提祖师为师...<br><br>菩提祖师为他起名叫“孙悟空”，学成七十二般变化和筋斗云，孙悟空本领学成，祖师赶他下山道：“你这去，定生不良。凭你怎么惹祸行凶，却不许说是我的徒弟，你说出半个字来，我就知之，把你这猢狲剥皮锉骨，将神魂贬在九幽之处，教你万劫不得翻身！”<br><br>菩提祖师传授悟空本领源于唐代六祖慧能法师传弟子衣钵的故事。究竟是谁菩提祖师呢？</p>
            	<img width="360px" src="static/pt1.jpg"/>
            </div>
        </div>
        <div id="dntg" class="section">
            <div class="houwang">
            	<h1>大 闹 天 宫</h1>
            	<p>孙悟空大闹天宫，被太上老君带到兜率宫冶炼七七四十九天，练成一双火眼金睛，被如来佛祖压在五行山下五百年......<br><br>其实，大闹天宫是孙悟空必须经历的一个成长阶段，500年的毕业论文，完结了悟空大学生活，软硬件兼备的悟空，注定成为业内精英！</p>
            	<img width="360px" src="static/wk.jpg"/>
            </div>
        </div>
        <div id="xtqj" class="section">
            <div class="houwang">
            	<h1>西 天 取 经</h1>
            	<p>五百年后，孙悟空被唐僧所救，拜其为师，踏上西天取经之路。是取经团队技术核心<br><br>两界山除六意，鹰愁涧收玉龙为唐僧坐骑，黑风山斗熊罴，取回被偷袈裟，又先后在高老庄和流沙河收猪刚鬣和悟净为师弟，共保唐僧取经。历尽艰辛，于黄风岭苦战黄风怪，在五庄观为救活人参果树，多方奔走，白虎岭三打白骨夫人，却被唐僧误会赶走。后为了救被变成老虎的唐僧，巧战黄袍怪。平顶山斗智斗勇，降服金银角。在乌鸡国救活被害死三年的国王，在枯松涧大战红孩儿，车迟国解救被迫害众僧。又在通天河、金兜山、毒敌山与灵感大王、兕大王、蝎子精多方激战。诛除二心，三调芭蕉扇，荡除碧波潭，误入小雷音寺，七绝山除红蟒精，朱紫国三折肱，盘丝洞扫七妖，黄花观斗蜈蚣精，狮驼岭会战三魔，比丘国救众小孩，无底洞寻师，隐雾山诛豹精，凤仙郡求雨，玉华州收徒，竹节山大战众狮精，青龙山力斗三犀，天竺国擒玉兔，助寇洪还魂......</p>
            	<img width="480px" src="static/zg1.jpg"/>
            </div>
        </div>
        <div id="tangsheng" class="section">
            <div class="houwang">
            	<h1>唐 僧</h1>
            	<p>唐僧，俗家姓陈，名祎，小名江流儿，法号玄奘，号三藏，原为佛祖第二弟子金蝉子投胎。目标坚定、品德高尚<br>取经团队项目经理，在三个徒弟和白龙马的辅佐下，历尽千辛万苦，终于从西天雷音寺取回三十五部真经，功德圆满，加升大职正果，被赐封为旃檀功德佛。手执由观音菩萨所赠的九环锡杖，身披锦襕袈裟。<br><br>玄奘法师（602年—644年/664年），唐朝著名的三藏法师，汉传佛教历史上最伟大的译师。</p>
            	<img width="360px" src="static/ts.jpg"/>
            </div>
        </div>
        <div id="bajie" class="section">
            <div class="houwang">
            	<h1>八 戒</h1>
            	<p>又名猪刚鬣、猪悟能，原为天宫中的“天蓬元帅”，掌管天河水府。因调戏嫦娥，幸亏太白金星求情，被罚下人间。但错投了猪胎，成了一只野猪，修炼成精，长成了猪脸人身的模样。在高老庄抢占高家三小姐高翠兰，被孙悟空降伏，收做唐僧徒弟。<br>能吃苦，能劳动，取经途中的重活、脏活都由他干，有时还耍点小聪明，但是他好吃贪色、爱财图利、生性懒惰。<br><br>修得正果，封号为“净坛使者”。猪八戒的兵器是九齿钉耙，有天罡数三十六般变化。</p>
            	<img width="360px" src="static/bj1.jpg"/>
            </div>
        </div>
        <div id="shasheng" class="section">
            <div class="houwang">
            	<h1>沙 悟 净</h1>
            	<p>原为天宫中的卷帘大将，因在蟠桃会上打碎了琉璃盏，惹怒王母娘娘，幸亏赤脚大仙求情，被贬入人间，在流沙河畔当妖怪，受万箭穿心之苦。<br><br>被唐僧收为徒弟，负责团队后勤，喂马挑担，任劳任怨，忠心耿耿，是唐僧最信任的人。得成正果后，被封为“金身罗汉”。使用的兵器是降妖宝杖。</p>
            	<img width="360px" src="static/ss1.jpg"/>
            </div>
        </div>
        <div id="bailong" class="section">
            <div class="houwang">
            	<h1>小 白 龙</h1>
            	<p>西海龙王三太子，因为纵火烧了殿上玉帝的明珠，被龙王告他忤逆，被贬蛇盘山鹰愁涧，经观音菩萨点化等候唐僧。因吃了唐僧的白马，后变化白马。修成正果后被佛祖封为“八部天龙马”，跳入化龙池中，长出鳞角，飞起盘在擎天华表柱上。</p>
            	<img width="360px" src="static/bl.jpg"/>
            </div>
        </div>
        <div id="zongjie" class="section">
            <div class="houwang">
                <h1>总 结</h1>
                <p>这样一个取经团队取得辉煌的成就，他们有统一的目标，成员优势互补，不到西天誓不还的决心和信心......<br><br>团队合作，大部分公司都在强调的团队合作，其实，他们师徒之间的关系，早已经超越了团队这个概念，更像是一个家庭！家庭成员也有分工，但没有明确分工，一个家庭之间的成员互补是非常完美的！<br><br>work as a family</p>
            </div>
        </div>
        <div id="happy" class="section">
            <div class="happy">
                <h1>马 年 快 乐</h1>
                <p>祝大家：在即将到来的马年里</p>
                <div id="ms">
                    <img id="m1" height="260" src="static/m2.png"/>
                    <img id="m2" height="260" src="static/m3.jpeg"/>
                    <img id="m3" height="260" src="static/m5.png"/>
                    <img id="m4" height="260" src="static/m4.jpg"/>
                    <img id="m5" height="260" src="static/m1.jpg"/>
                <div>
            </div>
        </div>
    </div>
    <div class="footer">
        <ul id="mainnav">
            <li class="nav_index"><a href="#qtds" class="cur">齐天大圣</a></li>
            <li class="nav_index"><a href="#hwcs" class="cur">猴王出世</a></li>
            <li class="nav_dalu"><a href="#bsxy">拜师学艺</a></li>
            <li class="nav_taiwan"><a href="#dntg">大闹天宫</a></li>
            <li class="nav_qita"><a href="#xtqj">西天取经</a></li>
            <li class="nav_taiwan"><a href="#tangsheng">唐僧</a></li>
            <li class="nav_taiwan"><a href="#bajie">八戒</a></li>
            <li class="nav_taiwan"><a href="#shasheng">沙悟净</a></li>
            <li class="nav_taiwan"><a href="#bailong">小白龙</a></li>
            <li class="nav_taiwan"><a href="#zongjie">总结</a></li>
            <li class="nav_taiwan"><a href="#happy">马年快乐</a></li>
        </ul>
    </div>
</body>
</html>