<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title>日本起源历史文化</title>
<link rel="stylesheet" href="/static/main.css">
<link rel="stylesheet" href="/static/index.css">
<script src="/static/jquery.js"></script>
<script src="/static/index.js"></script>
</head>

<body>
	<div id="scrollBody" class="body">
		<div id="index" class="section">
			<img src="" width="100%" class="bgimg" />
			<div class="frame"></div>
			<div class="sectionContent">
				<h2>日本起源</h2>
				<div class="txt">
					<p></p>
					<p></p>
				</div>
			</div>
		</div>
		<div id="dalu" class="section">
			<img src="" width="100%" class="bgimg" />
			<div class="frame"></div>
			<div class="sectionContent">
				<div class="intro">
					<h2>大陆地区</h2>
					<div class="txt">
						撕去“默默无闻”的标签，大陆音乐正凭借一股淳朴的韵味大放异彩。温情厚重的民谣笔触、狂放不羁的摇滚情怀，这些不矫揉、不造作的音乐作品就如同是失而复得的珍宝，任凭流行与时光冲刷也依旧绽放着熠熠生辉的光芒
					</div>
				</div>
				<ul class="list">
					<li>
						<a class="img btnPlay" href=""><img src="" width="144" height="144" /></a>
						<p class="userName"><a href="">Pentatonic</a></p>
						<p class="title">用五声音阶制造浪漫</p>
						<span class="icoPlay">播放</span>
					</li>
				</ul>
			</div>
		</div>
		<div id="taiwan" class="section">
			<img src="" width="100%" class="bgimg" />
			<div class="frame"></div>
			<div class="sectionContent">
				<div class="intro">
					<h2>台湾地区</h2>
					<div class="txt">
						丰富多元的文化底蕴赋予了台湾音乐无限的想象力。与诗词相融的电子旋律、流行浪漫遇上古典严谨，这儿的一切都充满可能性，音乐人们用化腐朽为神奇的创作头脑，拼凑出令人惊喜万分的旋律
					</div>
				</div>
				<ul class="list">
					<li>
						<a class="img btnPlay" href=""><img src="" width="144" height="144" /></a>
						<p class="userName"><a href="">林玛黛</a></p>
						<p class="title">猫一般迷离</p>
						<span class="icoPlay">播放</span>
					</li>
				</ul>
			</div>
		</div>
		<div id="qita" class="section">
			<img src="" width="100%" class="bgimg" />
			<div class="frame"></div>
			<div class="sectionContent">
				<div class="intro">
					<h2>其他地区</h2>
					<div class="txt">
						也许提及金属你会想到瑞典，说起另类你会想到冰岛，世界地图上驻扎着富有地域气息的曲调，层出不穷的音乐怪才随时都在开辟新的风格。什么样的音乐最流行？套用一句时尚界的话：“One Day You’re In, The Next Day You’re Out”
					</div>
				</div>
				<ul class="list">
					<li>
						<a class="img btnPlay" href=""><img src="" width="144" height="144" /></a>
						<p class="userName"><a href="">H.E.A.T</a></p>
						<p class="title">跨越海洋High翻直播间【直播奖项】</p>
						<span class="icoPlay">播放</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
		<ul id="mainnav">
			<li class="nav_index"><a href="#index" class="cur">首页</a></li>
			<li class="nav_dalu"><a href="#dalu">大陆地区</a></li>
			<li class="nav_taiwan"><a href="#taiwan">台湾地区</a></li>
			<li class="nav_qita"><a href="#qita">其他地区</a></li>
		</ul>
	</div>
</body>
</html>