/*body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,p,blockquote,th,td{
    color: #000;
}*/
body{
    background-color: #F2F1D7;
}
/*
h2{
    color: #000;
}
.footer{
    background: #555eee;
    height: 40px;
    border: 0;
}
#mainnav a.cur{
    background: #555eee;
    border: 0;
}
#mainnav a{
    border: 0;
}
.sectionContent h2{
    color: #000;
    border: 2px;
}*/
.houwang h1{
    font-size: 4.5em;
    color: #336699;
    margin-left: 360px;
    margin-top: 120px;
}
.houwang p{
    float: left;
    width: 680px;
    font-size: 2.2em;
    margin-left: 180px;
    margin-top: 40px;
    margin-right: 120px;
}
.happy h1{
    font-size: 5.5em;
    font-weight: bolder;
    color: #336699;
    margin-left: 41%;
    margin-top: 160px;
}
.happy p{
    float: left;
    width: 640px;
    font-size: 3.2em;
    margin-left: 180px;
    margin-top: 60px;
    margin-right: 60px;
}
#ms{
    clear: both;
    margin-top: 60px;
    margin-left: 8%;
    height: 500px;
}
#m1 #m2 #m3 #m4 #m5{
    float: left;
}
#ds{
    margin-left: 30%;
    margin-top: 60px;
    width: 38%;
}